<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>打地鼠</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="game_main">
		<!-- 游戏准备界面 -->
		<div class="game_ready">
			<a href="javascript:void(0)" class="btn_sound icon"></a>
			<a href="javascript:void(0)" class="btn_play icon"></a>
			<a href="javascript:void(0)" class="btn_help icon"></a>
			<a href="javascript:void(0)" class="btn_exit icon"></a>
		</div>
	</div>
</body>
</html>